*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.all-container{
    background: rgb(14,9,9);
    background: radial-gradient(circle, rgba(14,9,9,1) 0%, rgba(31,28,28,1) 25%, rgba(16,15,15,1) 50%, rgba(10,10,10,1) 75%, rgba(4,4,4,1) 100%); 
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImg{
    width: 400px;
    opacity: .5;
	animation: rotateAnimation 15s ease;
}

@keyframes rotateAnimation {

	from {
        transform: rotateY(45deg);
        opacity: .7;
    }
	to {
        transform: rotateY(360deg);
        opacity: 1;
    }
}