:root{
    --white: #F5F6F7;
    --gold: #ffcc00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SherWood";
    text-align: center;
    color: var(--white);
}

@font-face {
    font-family: "SherWood";
    src: url("./fonts/SherwoodRegular.ttf");
}

.all-container{
    background: rgb(14,9,9);
    background: radial-gradient(circle, rgba(14,9,9,1) 0%, rgba(31,28,28,1) 25%, rgba(16,15,15,1) 50%, rgba(10,10,10,1) 75%, rgba(4,4,4,1) 100%); 
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
}

.mainImg{
    width: 400px;
    opacity: .5;
	animation: rotateAnimation 15s ease;
    transition: all ease .5s;
}
/*
@keyframes rotateAnimation {

	from {
        transform: rotateY(45deg);
        opacity: .7;
    }
	to {
        transform: rotateY(360deg);
        opacity: 1;
    }
}*/

.mainImg:hover{
    -webkit-filter: drop-shadow(0 0 0.75rem rgba(254,55,72,1));
    filter: drop-shadow(0 0 0.75rem rgba(254,55,72,1));
    opacity: 1;
}

h1{
    font-family: "SherWood";
    font-size: 28px;
    font-weight: normal;
    color: #F5F6F7;
    text-shadow: #ffcc00 1px 0 10px;
}

.nameUserInput{
    border: none;
    border-bottom: 2px solid var(--white);
    background: transparent;
    font-size: 22px;
    text-transform: uppercase;
    opacity: .5;
}

.nameUserInput[type="text"]:focus{
    outline: none;
    opacity: 1;
}

.btn{
    background: red;
    padding: 8px;
}