:root{
    --white: #F5F6F7;
    --gold: #ffcc00;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SherWood";
    text-align: center;
    color: var(--white);
    font-weight: normal;
}

@font-face {
    font-family: "SherWood";
    src: url("./fonts/SherwoodRegular.ttf");
}

.all-container{
    background: rgb(14,9,9);
    background: radial-gradient(circle, rgba(14,9,9,1) 0%, rgba(31,28,28,1) 25%, rgba(16,15,15,1) 50%, rgba(10,10,10,1) 75%, rgba(4,4,4,1) 100%); 
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
    transition: all ease .5s;
}

.secImg{
    height: 400px;
    display: none;
    animation: appear 3s ease-in-out;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
}



.mainImg{
    width: 400px;
    opacity: .4;
	animation: rotateAnimation 5s ease;
    transition: ease-in-out .5s;
}

@keyframes rotateAnimation {

	from {
        transform: rotateY(45deg);
        opacity: .7;
    }
	to {
        transform: rotateY(360deg);
        opacity: 1;
    }
}

.mainImg:hover{
    -webkit-filter: drop-shadow(0 0 0.75rem rgba(254,55,72,1));
    filter: drop-shadow(0 0 0.75rem rgba(254,55,72,1));
    opacity: 1;
}

h1{
    font-size: 28px;
    color: #F5F6F7;
    text-shadow: #ffcc00 1px 0 10px;
    transition: all ease .5s;
    text-transform: uppercase;
}

.nameUserInput{
    border: none;
    border-bottom: 2px solid var(--white);
    background: transparent;
    font-size: 22px;
    text-transform: uppercase;
    opacity: .5;
    cursor: text;
}

.nameUserInput[type="text"]:focus{
    outline: none;
    opacity: 1;
}

.btn{
    background: #4C3B14;
    border: none;
    width: 120px;
    padding: 8px;
    border-radius: 4px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all ease .5s;
}
.btn:hover{
    -webkit-filter: drop-shadow(0 0 0.75rem rgba(254,55,72,1));
    filter: drop-shadow(0 0 12px var(--white));
    opacity: 1;
}